#class-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.cclass-box {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 10px 10px;
	width: 100%;
}

@media (min-width: 768px) {
	.cclass-box {
		width: 250px;
	}
}

.cclass-name h2 {
	margin: 0;
}

.cclass-image-box {
	height: 200px;
	overflow: hidden;
}

.cclass-image-box img {
	width: 100%;
	/*height: 200px;*/
	overflow: hidden;
}

.cclass-join-button {
	display: block;
	border-radius: 5px;
	text-align: center;
	padding: 6px 8px;
	margin: 10px;
	margin-top: auto;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;    
    color: #666;
    border-color: #EBEBEB;
    background-color: #EBEBEB;
}

.cclass-join-button:hover {
	background-color: #bbbbbb;
	color: #efefef;
}

.jquery-modal {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: white;
	max-width: 500px;
	
}