.cclass-box {
			height: 300px;
			width: 250px;
			border: 1px solid black;
			background-color: #fff;
			margin: 10px 10px;
			display: block;
			float: left;
		}

		.cclass-description-box {
			font-size: 9pt;
			margin: 8px;
		}

		.cclass-name {
			font-size: 12pt;
			font-weight: bold;
		}

		.cclass-price {
			font-size: 14pt;
			float: right;
		}

		.cclass-description {}

		.cclass-image-box {
			height: 200px;
			overflow: hidden;
		}

		.cclass-image {
			width: 100%;
			height: 100%;
		}

		.cclass-join-button {
			float: right;
		}

		.cclass-more-info {
			font-weight: bold;
			text-decoration: underline;
			;
		}